{% extends 'MESDJasperReportViewerBundle::base.html.twig' %}

{% block navbarContent %}
    <li class="btn-group">
        <a class="btn" title="Report Home" href="{{ url('MESDJasperReportViewerBundle_home') }}"><i class="icon-home"></i> Report Home</a>
    </li>
{% endblock navbarContent %}

{% block container %}
    <section class="content">
        <div class="content-panel">
            <h2>Report ({{ decodedReportUri }})</h2>
            <h3>Run Report</h3>
                <div id="report-msg"></div>
                <div id="report-form">
                    {{ form(form) }}
                </div>
            <h3>Past Reports</h3>
            <table id="dataTable" class="table table-condensed table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Username</th>
                        <th>Parameters</th>
                        <th>Report</th>
                    </tr>
                </thead>
            </table>
        </div>
    </section>
{% endblock container %}


{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var historyTable;
        $(document).ready(function() {
        //Convert the table with the datatable id into a datatable
            historyTable = $('#dataTable').dataTable({
                'processing': true,
                'serverSide': true,
                'ajax': "{{ url('MESDJasperReportViewerBundle_report_history_json', { 'reportUri': reportUri }) }}",
                'info': false,
                'searching': false,
                'lengthChange': false,
                'pagingType': 'full_numbers'
            });
        });
    </script>
{% endblock javascripts %}