{% extends 'MesdJasperReportViewerBundle::base.html.twig' %}
{% form_theme form 'MesdJasperReportViewerBundle:Partials:reportForm.html.twig' %}

{% block sidebarContent %}
    {{ form(form) }}
{% endblock sidebarContent %}

{% block navlinks %}
    {% if 'false' != hideHome %}
        {{ hideHome }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock navlinks %}

{% block container %}
    <div class="panel panel-white">
        <div class="row-fluid">
            <div class="span4">
                <div class="btn-group pull-left">
                    <a class="btn disabled" id="export-pdf" title="Export to PDF" href="#">PDF</a>
                    <a class="btn disabled" id="export-xls" title="Export to XLS" href="#">XLS</a>
                </div>
            </div>
            <div class="span4">
                <div class="btn-group btn-group-centered">
                    <a class="btn page-button disabled" id="first-page" title="First Page" href="#"><i class="icon-fast-backward"></i></a>
                    <a class="btn page-button disabled" id="back-ten"   title="Previous 10 Pages" href="#"><i class="icon-step-backward"></i></a>
                    <a class="btn page-button disabled" id="back-one"   title="Previous Page" href="#"><i class="icon-backward"></i></a>
                    <a class="btn page-button disabled" id="next-one"   title="Next Page" href="#"><i class="icon-forward"></i></a>
                    <a class="btn page-button disabled" id="next-ten"   title="Next 10 Pages" href="#"><i class="icon-step-forward"></i></a>
                    <a class="btn page-button disabled" id="last-page"  title="Last Page" href="#"><i class="icon-fast-forward"></i></a>
                </div>
            </div>
            <div class="span4">
                <div class="btn-group pull-right">
                    <a class="btn disabled" id="print-report" title="Print" href="#"><i class="icon-print"></i></a>
                    <a class="btn" id="report-history" title="History" href="{{ url('MesdJasperReportVIewerBundle_report_history_single', { 'reportUri': reportUri, 'hideHome': hideHome }) }}"><i class="icon-time"></i></a>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <style type="text/css">a {text-decoration: none}</style>
        <style type="text/css">.jrPage{margin-left: auto;margin-right: auto;}</style>
        <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tbody>
                <tr>
                    <td width="50%">&nbsp;</td>
                    <td align="center">
                        <div id="report-output">
                            <div class="report-placeholder left-text">
                                {% if preload %}
                                    <h3>Loading...</h3>
                                {% else %}
                                <h3>Running a Report</h3>
                                <p>To run a new report, fill out the input controls on the left sidebar and press the run report button.  Some input fields are required to be filled in to run the report.  Not all reports have input controls, and can be ran by just pressing the run report button</p>
                                <h3>Viewing Report History</h3>
                                <p>To view the past instances of this report you have generated, press the history button, the button with the clock icon at the very right of the report toolbar, to go to a page detailing the past times you've ran this report</p>
                                {% endif %}
                            </div>
                        </div>
                    </td>
                    <td width="50%">&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </section>
{% endblock container %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        {% if preload %}
            var preload = "{{ preload }}";
        {% else %}
            var preload = null;
        {% endif %}
    </script>
{% endblock javascripts %}
